
# from requirements from class
pandas
requests
plotly 
python-dotenv
flask 
gunicorn
pytest

#requirements from our code
# datetime
# statistics module
finnhub-python
# smtplib module
# email.mime.text # module
# os # module


# notes ask about pip-install finnhub-python 