    <h1>Welcome to Buy the Dip</h1>

    <p>Please enter the following information to sign-up for our alert notifications</p>

    <form action="/dashboard" method="POST"> <!--does this need to also include "GET" for method if trying to save in google sheet API?-->

        <label>Email:</label>
        <input type="text" name="email" > <!-- how do we get it where once the user inputs their email and stock's -->
        <br>
        
        <label>Stock Symbol:</label>
        <input type="text" name="symbol">
        <br>

<!-- from here, we want to 1) show all the meta data and candlestick chart, and 2) invoke the email functionality "Thank you for signiing up!" -->

        <button class="btn btn-success">Submit</button>
    </form>