{% extends "layout.html" %}

{% block content %}

    <h1>Welcome Home</h1>

    <p>This is a paragraph on the "home" page.</p>

    <form action="/dashboard" method="POST">

        <label>Email:</label>
        <input type="text" name="email" placeholder="chrislucasmason@gmail.com">
        <br>
        <label>Stock Symbol:</label>
        <input type="text" name="symbol" placeholder="MSFT" value="MSFT">
        <br>

        <button class="btn btn-success">Submit</button>
    </form>

{% endblock %}